<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typeide blog - by dlzeng</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .post {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="container head">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">首页</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Python</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Django实战</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Tornado</a>
                </li>
            </ul>
            <form action="" class="form-inline my-lg-0">
                <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">Typeidea</h1>
        <p class="lead">基于Django的多人博客系统</p>
    </div>
</div>
<div class="container main">

</div>
<footer class="footer">
    <div class="container">
        <hr/>
        <nav class="nav category">
            <a href="#" class="nav-link">读书</a>
            <a href="#" class="nav-link">产品</a>
            <a href="#" class="nav-link">工作经历</a>
        </nav>
    </div>
    <div class="container power">
        <span class="text-muted">Power by Typeidea@dlzeng</span>
    </div>
</footer>
</body>
</html>